html * {
	background: LightGray;
}

h1 {
	color: black;
	font-family: Century Gothic, sans-serif;
	letter-spacing: 4px;
	font-size: 50px;
	font-style:bold;
	text-align: center;
	margin-bottom: 3px;
}

p {
	color: black;
	font-family: Century Gothic, sans-serif;
	font-size: 14px;
	text-align: center;
	margin-top: 0px;
	margin-bottom:10%;
	margin-right: 10%;
	margin-left: 10%;
}
