html * {
	background: #000000;
}

h1 {
	color: white;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	background-size: 100% 100%;
	font-size: 100px;
}

#header {
	background: url(images/about_collage.jpg);
	background-size: 100% 100%;
	line-height: 10;
	margin-top:0%;
}

p {
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	text-align: center;
	margin-top: 0px;
	margin-bottom:10%;
	margin-right: 10%;
	margin-left: 10%;
}
a:link {
    color: #FFFFFF;
}

a:visited {
    color: #FFFFFF;
}

a:hover {
    color: #C0C0C0;
}
