html * {
	background: #000000;
}

h1 {
	height: 60vh;
	font-size: 55px;
	padding-top: 10vh;
	padding-left: 80px;
	text-align: center;
	letter-spacing: 10px;

	color: white;
	font-family: 'Raleway', sans-serif;
	background-size: 100% 100%;
	font-size: 100px;
}

#header {
	background: url(images/about_collage.jpg);
	background-size: 100% 100%;
	line-height: 10;
	margin-top:0%;
}

p {
	height: 100vh;
	font-size: 55px;
	padding-top: 35vh;
	text-align: center;

	color: black;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	background-color: white;
}

a:link {
    color: #FFFFFF;
}

a:visited {
    color: #FFFFFF;
}

a:hover {
    color: #C0C0C0;
}
