html * {
	background: LightGray;
}

h1 {
	color: black;
	font-family: Century Gothic, sans-serif;
	letter-spacing: 4px;
	font-size: 50px;
	font-weight:bold;
	text-align: center;
}

h2 {
	color: black;
	font-family: Century Gothic,sans-serif;
	letter-spacing: 4px;
	font-size: 26px;
	text-align: left;
	text-decoration:underline;
	margin-bottom:0%;
	margin-left: 7%;
}

h3 {
	color: black;
	font-family: Century Gothic, sans-serif;
	font-size: 18px;
	text-align:right;
	margin-top: 1%;
	margin-bottom: 0%;
	margin-right: 7%;
}

h4 {
	color: black;
	font-family: Century Gothic, sans-serif;
	font-style: italic;
	font-size: 15px;
	text-align: right;
	margin-bottom: 0%;
	margin-top: 0%;
	margin-right: 7%;
}

p {
	color: black;
	font-family: Century Gothic, sans-serif;
	font-size: 14px;
	text-align: right;
	margin-top: 0%;
	margin-bottom:0%;
	margin-right: 7%;
}

